



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the page */
}


.content {
  text-align: center;
}

.speech-bubble {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 5rem; /* Large font size for the number */
  color: #ff5c5c; /* Red color */
  margin: 0;
}

h2 {
  font-size: 2rem; /* Medium font size for the heading */
  margin: 10px 0 20px;
}

p {
  font-size: 1rem; /* Small font size for the description */
  margin-bottom: 20px;
}

.button {
  background-color: #3f51b5; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem; /* Button text size */
}

.button:hover {
  background-color: #303f9f; /* Button hover background color */
}


.chat-container{
  @media screen and (min-width: 1024px) {
    margin-left: 1rem;
  }
}

.chat-form{
  @media screen and (min-width: 1024px) {
    margin-left: 2.4rem;
    margin-bottom: 1rem;

  }
}